:root {
    font-family: 'Times New Roman', Times, serif;
    background-color:aqua;
}



#startBtn {
    width: 130px;
    height: 30px;
    background: #7851a9;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position:relative;
    margin-left: 850px;
    margin-top: 40px;
}

#nextBtn {
    width: 100px;
    height: 30px;
    background: #7851a9;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position:relative;
    margin-left: 850px;
    margin-top: 50px;
}

#startBtn:hover {
    background-color: #7951a993;

}

#nextBtn:hover {
    background-color: #7951a993;

}

.intro {
    width: 600px;
    background: white;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 100px;

}

.option:hover {
    background-color: #7951a9a4;
}

.quizContainer {
    width: 700px;
    max-width:85%;
    margin: auto;
    margin-top: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 20px;

}
#question {
    font-size: 33px;
    font-weight: bold;
}

.option {
    display: flex;
    flex-direction: row;
    margin-right: 550px;
    font-size: 1.3rem;
}

.hideThis {
    display: none;
}

